<div id="input">
      
        <input id="input1" type="text">
        <div id="sub_div">
                <button type="submit">Søg</button>
                <a id="avanceret" href="">Avanceret søg</a>
        </div>
</div>