<nav>


      <a href="/index">Forsiden</a>

      <a href="/cykler">Cykler</a>

      <a href="/udstyr">Udstyr</a>

      <a href="/kontakt">Kontakt</a>

      <a href="/nyheder">Nyheder</a>


      <a href="/login">Log ind</a>


</nav>

