<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheet/style.css' />
</head>

<body>

  <div class="body1">
    <div class="body2">

      <header>
        <% include ../partials/header %>
      </header>
      <% include ../partials/nav %>

      <div id="underNav">
          <div id="p1">
                <h3>Kategori</h3>
    
          </div>
          <div id="p2">
                <h3>Tilbud</h3>
          </div>
    </div>

      <% include ../partials/cykel_kategorier_indhold %>
      <% include ../partials/footer %>


    </div>
  </div>
</body>


</html>