<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
</head>

<body>

    <div class="body1">
        <div class="body2">

            <header>
            <% include ../partials/header %>
            </header>

            <% include ../partials/nav %>
            <% include ../partials/underNav %>
            <% include ../partials/kontaktIndhold %>
            <% include ../partials/footer %>



        </div>
    </div>
</body>


</html>