<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
</head>

<body>

    <div class="body1">
        <div class="body2">

            <header>
                <% include ../partials/header %>
            </header>
            <div class="">
                <% include ../partials/nav %>
            </div>

            <div id="underNav">
                <div id="p1">
                    <h3>Administration</h3>
                </div>
            </div>


            <div class="">
                <h1>WELCOM TO LOGIN</h1>
                <br>
                <a href="/admin">admin</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


                <div class="">
                    <% include ../partials/footer %>
                </div>

            </div>
        </div>
</body>


</html>